

.card-of-about {
    /* border: 2px solid black; */
    padding: 29px;
    position: relative;
    width: 30%;
    background-color: var(--white);

    border-radius: 16px;

    min-height: 210px;

    background-color: var(--white);
    box-shadow: var(--shadow);

    display: flex;

    justify-content: center;
    flex-direction: column;

    gap: 13px;
    color: var(--black);
}



.card-description-of-about {
    font-size: 16px;
}

.icon_about_heading{
    color: var(--primary);
    font-size: 40px;
}



@media (max-width:810px) {
  

    .card-of-about {
        width: 47.5%;

    }
}

@media (max-width:600px) {

    .card-of-about {
        width: 100%;
    }

}