.main-div-footer {

    border: 2px solid black;
    background-color: var(--primary-dark);
    margin-top: 70px;

}

.main-div-footer * {

    color: var(--white);
}

.footer-big-div {
    /* background-color: var(--primary-dark); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    min-height: 70vh;
    padding: 4rem;

}

.footer-big-div>* {
    width: 31%;
    min-height: 200px
}

.green-info {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.a-footer {
    font-weight: normal;
    font-size: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 23px;
}

.white-line {
    height: 1px;
    width: 100%;
    background-color: black;
}

.copy-right {
    text-align: center;
    margin: 10px 0px;
}

.footer-input-btn-div {
    display: flex;
    justify-content: center;
}

.footer-email-btn {
    border: none;
    width: 20%;
    background-color: var(--secondary);
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer-email-btn:hover {
    background-color: var(--secondary);
    transform: translateY(0px);
}

.error-text {
    color: black;
    background-color: white;
    font-size: 12px;
    margin-top: 5px;
    width: 30vw;
}

.footer-send-icon {
    color: black;
    font-size: 18px;
}

.footer-input {
    flex: 1;
    padding: 14px;
    color: black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

@media (max-width:810px) {
    .footer-big-div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* padding: 2rem; */


    }

    .newsletter {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        gap: 23px;
        width: 60%;
    }

    .green-info {
        width: 60%;
    }

    .quick-link {
        flex: 1;
    }
}

@media (max-width:500px) {
    .footer-big-div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* border: 2px solid black; */

        min-height: 70vh;
        padding: 2rem;



    }

    .footer-big-div>* {
        width: 100%;
    }

    .quick-link {
        flex: 1;
    }

}