


.card-section-of-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    min-height: 10vh;
    /* border: 2px solid black; */
    width: 95%;
    margin:50px auto;
}



@media (max-width:810px) {
    .card-section-of-about {
        gap: 20px;
        
        width: 90%;
        justify-content: flex-start;
    }
}

@media (max-width:550px) {



    .card-section-of-about {
        justify-content: center;
    }

}